#chart{
  background: black;
}
/*
svg {
  background: black;
  display: block;
  margin: auto;
}
*/
#india {
  fill: red; //#008000
  opacity: .2;
  stroke: #000000;
  stroke-width: .7;
}

#railways {
  fill: green; //#008000
  stroke: green;
  stroke-width: 4;
}
