body {
  background: black;
}

#chart{
  background: black;
  float: left;
}

button {
  float: left;
}

.controls_text{
  color: white;
  text-align: right;
  float: right;
}

#state_name{
  display: inline-block;
}

#district_name{
  display: inline-block;
}